* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {}

/****  UpperParts   ********************************************************************************/

.UpperPart {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 3;
  background-color: white;
}

.UpperPart-Img {
  padding: 20px;
}

.UpperPart-Img img {
  height: 100%;
  width: 100%;
}

.UpperPart-text {
  height: auto;
  padding: 50px 50px 50px 0px;
  text-align: left;
  line-height: 2;
}

.UpperPart-Title {
  color: #292929;
  padding: 20px;
  font-size: 30px;
  font-weight: 600;
}

.UpperPart-SubTitle {
  color: #2F2F2F;
  padding: 20px;
  font-weight: 500;
}

.UpperPart-Description {
  font-size: 20px;
  color: #7D7D7D;
  padding: 20px;
}

/** connection-line      **********************************************************************************/

.connection-line {
  height: 25vh;
  width: 25%;
  background-color: white;
  margin-top: -50px;
  margin-left: 50%;
  margin-right: 25%;
  border-right: 1.2px solid #0E3B85;
  z-index: 5;
  /*
  display: none;
  */
}

/** horizontal-lines & Vertical Lines ************************************************************/

.horizontal-lines {
  width: 25%;
  height: 1.2px;
  position: absolute;
  background-color: lightblue;
  animation-name: animated-line;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
/*
  display: none;
  */
  z-index: 5;
}

#line-right {
  right: 25%;
}

/*
#line-left {
  left: 50%;
}
#line-center {
  margin: auto;
}
*/

@keyframes animated-line {
  0% {
    width: 0px;
    background-color: lightblue;
  }
  100% {
    width: 25%;
    background-color: #0E3B85;
  }
}

/**  TimeLine **********************************************************************************/
.timeline {
  list-style: none;
  position: relative;
  z-index: -5;
  margin-top: 15%; /* Top maring to before year to start*/
}

/** TimeLine before This is the Pathline in the middle **********************************************************************************/
.timeline:before {
  content: "";
  top: 0;
  bottom: 0;
  position: fixed;
  width: 1.5px;
  background-color: lightblue;
  left: 50%;
  height: 100vh;
  z-index: -5;
}
/** TimeLine after This is the Pathline in the middle with scroll effects ***************************************************/
.timeline:after {
  content: "";
  top: 0;
  bottom: 0;
  position: fixed;
  width: 1.5px;
  background-color: #0E3B85;
  left: 50%;
  height: 50vh;
  z-index: -5;
}
/** Timeline Before Year and Events  ************************************************/
.timeline li {
  position: relative;
}
/*** Timeline li before and after *************************************************************************/
.timeline>li:before, .timeline>li:after {
  content: " ";
  display: table;
}
/** Only for events lines ************************************************/
.timeline>li:after {
  clear: both;
}
/** TimeLine Panel leftside  ************************************************/
.timeline>li>.timeline-panel {
  width: 40vw;
  height: 40vh;
  float: left;
  position: relative;
  /*
  color: #7390BF;
  */
}
/** TimeLine Panel Right side************************************************/
.timeline>li>.timeline-panel.timeline-panel-inverted, .timeline>li.timeline-panel-inverted>.timeline-panel {
  float: right;
}
/** TimeLine Events ************************************************/
.timeline-panel-events {
  opacity: 1;
}
/**  TimeLine Events Active ************************************************/
/**
.timeline-panel-events.active {
  animation-name: ani-panel;
  animation-duration: 2s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
**/
/** TimeLine Year  ************************************************/
.timeline>li>.timeline-year {
  color: lightblue;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  line-height: 100px;
  font-size: 2em;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -60px;
  background-color: white;
  border: 1px solid lightblue;
  z-index: 5;
}
/**  ************************************************/
.timeline>li>.timeline-year.active {
  color: #0E3B85;
  animation-name: year-popup;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes year-popup {
  0% {
    border: 1px solid lightblue;
    transform: scale(1, 1);
  }
  50% {
    border: 1.25px solid #7390BF;
    transform: scale(1.5, 1.5);
  }
  100% {
    border: 1.5px solid #0E3B85;
    transform: scale(1, 1);
  }
}
/** line before each events ************************************************/
.timeline>li>.timeline-panel:after {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 10%;
  height: 1px;
  background-color: lightblue;
  content: " ";
}
/** Circle before each events ************************************************/
.timeline>li>.timeline-panel:before {
  position: absolute;
  top: 50px;
  right: -2%;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid lightblue;
  content: " ";
  background-color: white;
  z-index: 99;
}
/** Circle before each events with full background ************************************************/
.timeline>li>.timeline-circle:before {
  position: absolute;
  top: 50px;
  right: -2%;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: lightblue;
  content: " ";
}
/**  ************************************************/
.timeline>li>.timeline-panel.timeline-panel-inverted:before, .timeline>li.timeline-panel-inverted>.timeline-panel:before {
  left: -4%;
  top: 2%

}

.timeline>li>.timeline-panel.timeline-panel-inverted:after, .timeline>li.timeline-panel-inverted>.timeline-panel:after {
  background-color: lightblue;
  left: -310px;
  right: auto;
  width: 220px;
}
/**  ************************************************/
/**  ************************************************/
/**  ************************************************/
/**  ************************************************/
/**  ************************************************/
/**  ************************************************/
/**  ************************************************/
/**  ************************************************/
/**  ************************************************/
/**  ************************************************/
/**  ************************************************/
/**  ************************************************/
/**  ************************************************/
/**  ************************************************/
/**  ************************************************/
/**  ************************************************/
/**  ************************************************/























/************************************ Media Query For responsive *******************************************/
/*
  ##Device = Desktops 4k or higher
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1981px) {
  .connection-line {
    display: block;
  }
  .horizontal-lines {
    display: block;
  }
  .timeline:before {
    left: 50%;
  }
  .timeline:after {
    left: 50%;
  }
}
/************************************************************************************/
/*
  ##Device = Desktops Hd or full Hd
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) and (max-width: 1980px) {
  .connection-line {
    display: block;
  }
  .horizontal-lines {
    display: block;
  }

  .timeline:before {
    left: 50%;
  }
  .timeline:after {
    left: 50%;
  }
}

/************************************************************************************/

/*
  ##Device = Laptops, Desktops Old Monitor or IpadPro
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .connection-line {
    display: block;
  }
  .horizontal-lines {
    display: block;
  }

  .timeline:before {
    left: 50%;
  }
  .timeline:after {
    left: 50%;
  }
  .timeline>li>.timeline-year {
    left: 50%;
  }
}

/************************************************************************************/

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  .connection-line {
      margin-left:1%;
      width: 49%;
  }
  #line-right {
    right: 50%;
  }
  @keyframes animated-line {
    0% {
      width: 0px;
      background-color: lightblue;
    }
    100% {
      width: 40%;
      background-color: #0E3B85;
    }
  }


  .timeline>li>.timeline-panel {
    float: none;
    position: relative;
  }
  .timeline>li>.timeline-panel.timeline-panel-inverted, .timeline>li.timeline-panel-inverted>.timeline-panel {
    float: none;
  }

  .timeline:before {
    left: 10%;
  }
  .timeline:after {
    left: 10%;
  }
  .timeline>li>.timeline-year {
    left: 11%;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    line-height: 75px;
    font-size: 1.5em;
  }
}

/************************************************************************************/

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .connection-line {
      margin-left:1%;
      width: 49%;
  }
  #line-right {
    right: 50%;
  }

  @keyframes animated-line {
    0% {
      width: 0px;
      background-color: lightblue;
    }
    100% {
      width: 40%;
      background-color: #0E3B85;
    }
  }

  .timeline>li>.timeline-panel {
    float: none;
    position: relative;
  }
  .timeline>li>.timeline-panel.timeline-panel-inverted, .timeline>li.timeline-panel-inverted>.timeline-panel {
    float: none;
  }


  .timeline:before {
    left: 10%;
  }
  .timeline:after {
    left: 10%;
  }
  .timeline>li>.timeline-year {
    left: 11%;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    line-height: 75px;
    font-size: 1.5em;
  }
}

/************************************************************************************/

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  .connection-line {
      margin-left:1%;
      width: 49%;
  }
  #line-right {
    right: 50%;
  }
  @keyframes animated-line {
    0% {
      width: 0px;
      background-color: lightblue;
    }
    100% {
      width: 40%;
      background-color: #0E3B85;
    }
  }

  .timeline>li>.timeline-panel {
    float: none;
    position: relative;
  }
  .timeline>li>.timeline-panel.timeline-panel-inverted, .timeline>li.timeline-panel-inverted>.timeline-panel {
    float: none;
  }


  .timeline:before {
    left: 10%;
  }
  .timeline:after {
    left: 10%;
  }
  .timeline>li>.timeline-year {
    left: 11%;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    line-height: 75px;
    font-size: 1.5em;
  }
}

/************************************************************************************/

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .connection-line {
      margin-left:1%;
      width: 49%;
  }
  #line-right {
    right: 50%;
  }
  @keyframes animated-line {
    0% {
      width: 0px;
      background-color: lightblue;
    }
    100% {
      width: 40%;
      background-color: #0E3B85;
    }
  }

  .timeline>li>.timeline-panel {
    float: none;
    position: relative;
  }
  .timeline>li>.timeline-panel.timeline-panel-inverted, .timeline>li.timeline-panel-inverted>.timeline-panel {
    float: none;
  }


  .timeline:before {
    left: 10%;
  }
  .timeline:after {
    left: 10%;
  }
  .timeline>li>.timeline-year {
    left: 11%;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    line-height: 75px;
    font-size: 1.5em;
  }
}

/************************************************************************************/
