@media (max-width: 1023px)
and (-webkit-min-device-pixel-ratio:1)
  {
  .connection-line {
    display: none;
  }
  .timeline {
    padding-top: 50px;
    margin-left: 0;
  }
  .timeline:before {
    left: 50%;
    display: none;
  }
  .timeline:after {
    left: 50%;
    display: none;
  }
  .timeline>li {
    padding-bottom: 10%;
  }
  .timeline>li>.timeline-badge {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    line-height: 125px;
    font-size: 2em;
    left: 50%;
    top: 0;
    margin-bottom: 50px;
    position: relative;
  }
  .timeline>li>.timeline-panel {
    width: 100vw;
    height: 35vh;
    float: none;
    left: 0%;
    background-color: white;
    z-index: 5;
    display: block;
    padding: 5%;
    height: auto;
    text-align: justify;
  }
  .timeline>li>.timeline-panel.timeline-inverted, .timeline>li.timeline-inverted>.timeline-panel {
    float: none;
  }
  .timeline>li>.timeline-panel::before {
    display: none;
  }
  .timeline>li>.timeline-panel::after {
    display: none;
  }
  .timeline>li>.timeline-panel-img::before {
    display: none;
  }
  .timeline>li>.timeline-panel-img::after {
    display: none;
  }
  .timeline-body p {
    font-size: 90%;
    line-height: 1.25;
  }
  .timeline-title {
    text-align: center;
    font-size: 125%;
  }
  .timeline-panel-body img {
    height: 40vh;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}
